/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* Mixins */
/* All sizes */
/* line 35, ../sass/thesis.scss */
a.bookmark {
  background-image: url("img/book_link.png");
  background-position: right center;
  background-repeat: no-repeat;
  color: #000;
  display: block;
  text-decoration: none;
}

/* line 43, ../sass/thesis.scss */
abbr {
  border-bottom: dotted 1px black;
}

/* line 46, ../sass/thesis.scss */
body {
  background-color: #fff;
  line-height: 1.5em;
  padding: 0.5em;
  font-family: "Tahoma", "Arial", "Verdana";
  word-wrap: break-word;
}

/* line 54, ../sass/thesis.scss */
.figure,
.table {
  text-align: center;
}
/* line 56, ../sass/thesis.scss */
.figure .caption,
.table .caption {
  font-weight: bold;
  padding: 0.556em;
}
/* line 61, ../sass/thesis.scss */
.figure pre,
.figure table,
.table pre,
.table table {
  text-align: left;
}

/* line 65, ../sass/thesis.scss */
.figure {
  border: solid 1px #bbb;
  font-size: 0.9em;
  margin: 1.111em 0;
  word-wrap: normal;
}
/* line 70, ../sass/thesis.scss */
.figure img {
  width: 75%;
}
/* line 73, ../sass/thesis.scss */
.figure pre {
  background: #ddd;
  border-bottom: solid 1px #bbb;
  color: #000;
  font-family: Consolas, Lucida Console, "Courier New", monospace;
  line-height: 1.1em;
  overflow: auto;
  padding: 0.556em;
}

/* line 83, ../sass/thesis.scss */
h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
}

/* line 88, ../sass/thesis.scss */
h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  margin: 0.5em 0;
}

/* line 94, ../sass/thesis.scss */
h3 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1em;
  margin: 0.667em 0;
}

/* line 100, ../sass/thesis.scss */
h4 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1em;
  margin: 0.8em 0;
}

/* line 106, ../sass/thesis.scss */
h5 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1em;
  margin: 0.909em 0;
}

/* line 112, ../sass/thesis.scss */
#Header {
  text-align: center;
}

/* line 115, ../sass/thesis.scss */
img {
  width: 100%;
}

/* line 118, ../sass/thesis.scss */
p {
  margin: 1em 0;
  text-align: justify;
}

/* line 124, ../sass/thesis.scss */
.list-of-figures,
.list-of-tables,
#TOC {
  margin: 1em 0 1em 1.2em;
}
@media only screen and (min-width: 30em) {
  /* line 124, ../sass/thesis.scss */
  .list-of-figures,
  .list-of-tables,
  #TOC {
    margin-left: 0;
  }
}
/* line 22, ../sass/thesis.scss */
.list-of-figures li,
.list-of-tables li,
#TOC li {
  list-style-type: disc;
}
/* line 24, ../sass/thesis.scss */
.list-of-figures li li,
.list-of-tables li li,
#TOC li li {
  list-style-type: circle;
}
/* line 26, ../sass/thesis.scss */
.list-of-figures li li li,
.list-of-tables li li li,
#TOC li li li {
  list-style-type: square;
  margin-left: 1em;
}

/* line 127, ../sass/thesis.scss */
.list-of-tables {
  display: none;
}

/* line 130, ../sass/thesis.scss */
#LOT {
  display: none;
}

/* line 134, ../sass/thesis.scss */
#MainContent ol {
  margin: 1em 0 1em 1.2em;
}
@media only screen and (min-width: 30em) {
  /* line 134, ../sass/thesis.scss */
  #MainContent ol {
    margin-left: 0;
  }
}
/* line 15, ../sass/thesis.scss */
#MainContent ol li {
  list-style-type: decimal;
}
/* line 137, ../sass/thesis.scss */
#MainContent ul {
  margin: 1em 0 1em 1.2em;
}
@media only screen and (min-width: 30em) {
  /* line 137, ../sass/thesis.scss */
  #MainContent ul {
    margin-left: 0;
  }
}
/* line 22, ../sass/thesis.scss */
#MainContent ul li {
  list-style-type: disc;
}
/* line 24, ../sass/thesis.scss */
#MainContent ul li li {
  list-style-type: circle;
}
/* line 26, ../sass/thesis.scss */
#MainContent ul li li li {
  list-style-type: square;
  margin-left: 1em;
}

/* line 141, ../sass/thesis.scss */
.note {
  background-color: #FCF0AD;
  border: solid 1px #f2da64;
  padding: 0.5em;
}

/* line 146, ../sass/thesis.scss */
sub {
  font-size: xx-small;
}

/* line 149, ../sass/thesis.scss */
sup {
  font-size: xx-small;
  position: relative;
  top: -0.7em;
}

/* line 154, ../sass/thesis.scss */
table {
  display: none;
  margin: 1em 0;
}
/* line 158, ../sass/thesis.scss */
table td,
table th {
  padding: 0.2em;
  vertical-align: top;
}

/* line 163, ../sass/thesis.scss */
.table {
  display: none;
}
/* line 165, ../sass/thesis.scss */
.table table {
  margin: 0;
  width: 100%;
}
/* line 169, ../sass/thesis.scss */
.table table td,
.table table th {
  border: solid 1px #000;
}
/* line 172, ../sass/thesis.scss */
.table table th {
  background-color: #ddd;
}

/* line 177, ../sass/thesis.scss */
.teletype {
  font-family: Consolas, Lucida Console, "Courier New", monospace;
}

/* Larger than small screens */
@media only screen and (min-width: 41em) {
  /* line 183, ../sass/thesis.scss */
  a.bookmark {
    background-image: none;
    position: relative;
    left: -1em;
    padding-left: 1em;
  }
  /* line 188, ../sass/thesis.scss */
  a.bookmark:hover {
    background-image: url("img/book_link.png");
    background-position: left center;
  }

  /* line 193, ../sass/thesis.scss */
  body {
    margin: 1em 2em;
  }

  /* line 196, ../sass/thesis.scss */
  .list-of-tables {
    display: block;
  }

  /* line 199, ../sass/thesis.scss */
  #LOT {
    display: block;
  }

  /* line 202, ../sass/thesis.scss */
  #NoteSmall {
    display: none;
  }

  /* line 205, ../sass/thesis.scss */
  table {
    display: table;
  }

  /* line 208, ../sass/thesis.scss */
  .table {
    display: block;
  }
}
/* Larger than medium screens */
@media only screen and (min-width: 50em) {
  /* line 215, ../sass/thesis.scss */
  body {
    margin: 1em auto;
    max-width: 40em;
  }
}
