/* Variables */
/* Mixins */
/* All sizes */
/* line 35, ../sass/thesis.scss */
a {
  color: blue;
}

/* line 38, ../sass/thesis.scss */
a.bookmark {
  background-image: url("img/book_link.png");
  background-position: right center;
  background-repeat: no-repeat;
  color: #000;
  display: block;
  text-decoration: none;
}

/* line 46, ../sass/thesis.scss */
abbr {
  border-bottom: dotted 1px black;
}

/* line 49, ../sass/thesis.scss */
body {
  background-color: #fff;
  line-height: 1.5em;
  padding: 0.5em;
  font-family: "Tahoma", "Arial", "Verdana";
  word-wrap: break-word;
}

/* line 57, ../sass/thesis.scss */
.figure,
.table {
  text-align: center;
}
/* line 59, ../sass/thesis.scss */
.figure .caption,
.table .caption {
  font-weight: bold;
  padding: 0.556em;
}
/* line 64, ../sass/thesis.scss */
.figure pre, .figure table,
.table pre,
.table table {
  text-align: left;
}

/* line 68, ../sass/thesis.scss */
.figure {
  border: solid 1px #bbb;
  font-size: 0.9em;
  margin: 1.111em 0;
  word-wrap: normal;
}
/* line 73, ../sass/thesis.scss */
.figure img {
  width: 75%;
}
/* line 76, ../sass/thesis.scss */
.figure pre {
  background: #ddd;
  border-bottom: solid 1px #bbb;
  color: #000;
  font-family: Consolas, Lucida Console, "Courier New", monospace;
  line-height: 1.1em;
  overflow: auto;
  padding: 0.556em;
}

/* line 86, ../sass/thesis.scss */
h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
}

/* line 91, ../sass/thesis.scss */
h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  margin: 0.5em 0;
}

/* line 97, ../sass/thesis.scss */
h3 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1em;
  margin: 0.667em 0;
}

/* line 103, ../sass/thesis.scss */
h4 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1em;
  margin: 0.8em 0;
}

/* line 109, ../sass/thesis.scss */
h5 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1em;
  margin: 0.909em 0;
}

/* line 115, ../sass/thesis.scss */
#Header {
  text-align: center;
}

/* line 118, ../sass/thesis.scss */
img {
  width: 100%;
}

/* line 121, ../sass/thesis.scss */
p {
  margin: 1em 0;
  text-align: justify;
}

/* line 127, ../sass/thesis.scss */
.list-of-figures,
.list-of-tables,
#TOC {
  margin: 1em 0 1em 1.2em;
}
@media only screen and (min-width: 30em) {
  /* line 127, ../sass/thesis.scss */
  .list-of-figures,
  .list-of-tables,
  #TOC {
    margin-left: 0;
  }
}
/* line 22, ../sass/thesis.scss */
.list-of-figures li,
.list-of-tables li,
#TOC li {
  list-style-type: disc;
}
/* line 24, ../sass/thesis.scss */
.list-of-figures li li,
.list-of-tables li li,
#TOC li li {
  list-style-type: circle;
}
/* line 26, ../sass/thesis.scss */
.list-of-figures li li li,
.list-of-tables li li li,
#TOC li li li {
  list-style-type: square;
  margin-left: 1em;
}

/* line 130, ../sass/thesis.scss */
.list-of-tables {
  display: none;
}

/* line 133, ../sass/thesis.scss */
#LOT {
  display: none;
}

/* line 137, ../sass/thesis.scss */
#MainContent ol {
  margin: 1em 0 1em 1.2em;
}
@media only screen and (min-width: 30em) {
  /* line 137, ../sass/thesis.scss */
  #MainContent ol {
    margin-left: 0;
  }
}
/* line 15, ../sass/thesis.scss */
#MainContent ol li {
  list-style-type: decimal;
}
/* line 140, ../sass/thesis.scss */
#MainContent ul {
  margin: 1em 0 1em 1.2em;
}
@media only screen and (min-width: 30em) {
  /* line 140, ../sass/thesis.scss */
  #MainContent ul {
    margin-left: 0;
  }
}
/* line 22, ../sass/thesis.scss */
#MainContent ul li {
  list-style-type: disc;
}
/* line 24, ../sass/thesis.scss */
#MainContent ul li li {
  list-style-type: circle;
}
/* line 26, ../sass/thesis.scss */
#MainContent ul li li li {
  list-style-type: square;
  margin-left: 1em;
}

/* line 144, ../sass/thesis.scss */
.note {
  background-color: #FCF0AD;
  border: solid 1px #f2da64;
  padding: 0.5em;
}

/* line 149, ../sass/thesis.scss */
sub {
  font-size: xx-small;
}

/* line 152, ../sass/thesis.scss */
sup {
  font-size: xx-small;
  position: relative;
  top: -0.7em;
}

/* line 157, ../sass/thesis.scss */
table {
  display: none;
  margin: 1em 0;
}
/* line 161, ../sass/thesis.scss */
table td, table th {
  padding: 0.2em;
  vertical-align: top;
}

/* line 166, ../sass/thesis.scss */
.table {
  display: none;
}
/* line 168, ../sass/thesis.scss */
.table table {
  margin: 0;
  width: 100%;
}
/* line 172, ../sass/thesis.scss */
.table table td, .table table th {
  border: solid 1px #000;
}
/* line 175, ../sass/thesis.scss */
.table table th {
  background-color: #ddd;
}

/* line 180, ../sass/thesis.scss */
.teletype {
  font-family: Consolas, Lucida Console, "Courier New", monospace;
}

/* Larger than small screens */
@media only screen and (min-width: 41em) {
  /* line 186, ../sass/thesis.scss */
  a.bookmark {
    background-image: none;
    position: relative;
    left: -1em;
    padding-left: 1em;
  }
  /* line 191, ../sass/thesis.scss */
  a.bookmark:hover {
    background-image: url("img/book_link.png");
    background-position: left center;
  }

  /* line 196, ../sass/thesis.scss */
  body {
    margin: 1em 2em;
  }

  /* line 199, ../sass/thesis.scss */
  .list-of-tables {
    display: block;
  }

  /* line 202, ../sass/thesis.scss */
  #LOT {
    display: block;
  }

  /* line 205, ../sass/thesis.scss */
  #NoteSmall {
    display: none;
  }

  /* line 208, ../sass/thesis.scss */
  table {
    display: table;
  }

  /* line 211, ../sass/thesis.scss */
  .table {
    display: block;
  }
}
/* Larger than medium screens */
@media only screen and (min-width: 50em) {
  /* line 218, ../sass/thesis.scss */
  body {
    margin: 1em auto;
    max-width: 40em;
  }
}
