@import "compass/css3/images";

/* Variables */
$screen-small: 30em;
$width-medium: 50em;

/* Mixins */
@mixin list {
  margin: 1em 0 1em 1.2em;
  @media only screen and (min-width: 30em) {
    margin-left: 0;
  }
}

@mixin list-ordered {
  @include list;
  li {
    list-style-type: decimal;
  }
}

@mixin list-unordered {
  @include list;
  li {
    list-style-type: disc;
    li {
      list-style-type: circle;
      li {
        list-style-type: square;
        margin-left: 1em;
      }
    }
  }
}

@mixin table-size($size) {
  margin: 1 / $size * 1em 0;
  font-size: $size * 1em;
}

/* All sizes */
a {
  color: blue;
}
a.bookmark {
  background-image: url("img/book_link.png");
  background-position: right center;
  background-repeat: no-repeat;
  color: #000;
  display: block;
  text-decoration: none;
}
abbr {
  border-bottom: dotted 1px black;
}
body {
  background-color: #fff;
  line-height: 1.5em;
  padding: 0.5em;
  font-family: "Tahoma", "Arial", "Verdana";
  word-wrap: break-word;
}
.figure,
.table {
  text-align: center;
  .caption {
    font-weight: bold;
    padding: 1 / 0.9 * 0.5em;
  }
  pre,
  table {
    text-align: left;
  }
}
.figure {
  border: solid 1px #bbb;
  font-size: 0.9em;
  margin: 1 / 0.9 * 1em 0;
  word-wrap: normal;
  .caption {
    border-top: solid 1px #bbb;
  }
  img {
    width: 75%;
  }
  pre {
    background: #ddd;
    color: #000;
    font-family: Consolas, Lucida Console, "Courier New", monospace;
    line-height: 1.1em;
    padding: 1 / 0.9 * 0.5em;
    &.code {
      padding: 0;
      .cl {
        border-left: solid 1px #aaa;
        margin-left: 20px;
        word-wrap: break-word;
      }
      .ln {
        clear: left;
        float: left;
        font-size: 0.8em;
        padding-right: 2px;
        text-align: right;
        width: 20px;
      }
    }
  }
}
h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
}
h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  margin: (1 / 2) * 1em 0;
}
h3 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1em;
  margin: (1 / 1.5) * 1em 0;
}
h4 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1em;
  margin: (1 / 1.25) * 1em 0;
}
h5 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1em;
  margin: (1 / 1.1) * 1em 0;
}
strong {
  font-weight: bold;
}
#Header {
  text-align: center;
}
img {
  width: 100%;
}
p {
  margin: 1em 0;
  text-align: justify;
}
.list-of-figures,
.list-of-tables,
#TOC {
  @include list-unordered;
}
#MainContent {
  ol {
    @include list-ordered;
  }
  ul {
    @include list-unordered;
  }
}
.note {
  background-color: #FCF0AD;
  border: solid 1px #f2da64;
  padding: 0.5em;
}
sub {
  font-size: xx-small;
}
sup {
  font-size: xx-small;
  position: relative;
  top: -0.7em;
}
table {
  @include table-size(0.5);
  td,
  th {
    padding: 0.2em;
    vertical-align: top;
  }
}
.table {
  table {
    margin: 0;
    width: 100%;
    td,
    th {
      border: solid 1px #000;
    }
    th {
      background-color: #ddd;
    }
  }
}
.teletype {
  font-family: Consolas, Lucida Console, "Courier New", monospace;
}

/* Larger than small screens */
@media only screen and (min-width: 30em) {
  a.bookmark {
    background-image: none;
    position: relative;
    left: -1em;
    padding-left: 1em;
    &:hover {
      background-image: url("img/book_link.png");
      background-position: left center;
    }
  }
  body {
    margin: 1em 2em;
  }
  .figure pre.code {
    background-image: url('img/code-ln.png');
    background-position: left top;
    background-repeat: repeat-y;
    left: -23px;
    margin-right: -23px;
    position: relative;
    .cl {
      margin-left: 22px;
    }
    .ln {
      background-color: #fff;
    }
  }
  table {
    @include table-size(0.7);
  }
}

/* Larger than small-medium screens */
@media only screen and (min-width: 40em) {
  table {
    @include table-size(0.9);
  }
}

/* Larger than medium screens */
@media only screen and (min-width: 50em) {
  body {
    margin: 1em auto;
    max-width: 40em;
  }
  table {
    @include table-size(1);
  }
}